.setting-form-quill .ql-toolbar {
  border-bottom: 0px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.setting-form-quill .ql-container {
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  height: 175px !important;
}
