.agileBoardCardsContainer {
  width: 100%;
  margin-top: 1em;
  margin-left: 0 !important;
  margin-right: 0 !important;
  &__col {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 25%;
    margin-right: 10px;
    margin-top: 0;
    border-radius: 3px;
    background: rgb(244, 245, 247);
    padding: 0 !important;
    h4 {
      text-transform: uppercase;
      color: rgb(94, 108, 132);
      font-size: 12.5px;
      padding: 13px 10px 17px;
      margin-bottom: 0 !important;
    }
    &__body {
      height: 100%;
      padding: 0px 5px;
      &__card {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
        cursor: pointer;
        user-select: none;
        padding: 10px;
        border-radius: 3px;
        background: rgb(255, 255, 255);
        transition: background 0.1s ease 0s;
        margin-bottom: 10px;
        p {
          padding-bottom: 11px;
          font-size: 14px;
          margin: 0 !important;
          color: rgb(23, 43, 77);
        }
        &:hover {
          background-color: rgb(235, 236, 240);
        }
        &:active {
          outline: -webkit-focus-ring-color auto 1px;
        }
        &__icons {
          display: flex;
          &__icon {
            margin: 5px;
            font-size: 15px !important;
            &--bookmark {
              color: rgb(101, 186, 67);
            }
            &--high {
              color: rgb(233, 73, 74);
            }
            &--highest{
              color: rgb(205, 19, 23);
            }
            &--medium{
              color: rgb(233, 127, 51);
            }
            &--low{
              color: rgb(45, 135, 56);
            }
            &--lowest {
              color: rgb(87, 165, 90);
            }
            &--check {
              color: rgb(79, 173, 230);
            }
          }
        }
        &__img {
          display: inline-block;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
          margin-left: -3px;
        }
      }
    }
  }
}
