.agileBoard__container {
  z-index: 99;
  position: fixed;
  left: 294px;
  width: calc(100% - 294px) !important;
  max-width: calc(100% - 294px) !important;
  padding-left: 2em !important;
  padding-right: 1em !important;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 2em;
  @media (max-width: 999px) {
    width: calc(100% - 64px) !important;
    max-width: calc(100% - 64px) !important;
    left: 64px;
  }
  &__breadcrumb {
    display: inline-block !important;
    margin-top: 1.5em;

    ol {
      background-color: transparent !important;
      padding: 0 !important;
      li {
        color: rgb(94, 108, 132);
        font-size: 15px;
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    h1 {
      color: rgb(23, 43, 77);
      font-size: 24px;
      font-weight: normal;
    }
    &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      color: rgb(66, 82, 110);
      font-weight: normal;
      padding: 0px 12px;
      border-radius: 3px;
      transition: all 0.1s ease 0s;
      background: rgb(244, 245, 247);
      border: none;
      outline: none;
      margin-right: 1em;
      &:hover {
        background: rgb(235, 236, 240);
      }
      &:focus {
        outline: none;
        color: #1d398c;
        background-color: #919eaf;
      }
      &__icon {
        display: inline-block;
        font-size: 18px;
      }
      span {
        margin-left: 5px;
        font-size: 14.5px;
        font-weight: 400;
      }
    }
  }
  &__searchSection {
    display: flex;
    margin-top: 2em;
    &__searchbar {
      position: relative;
      height: 32px;
      width: 160px;
      margin: 0;
      display: inline-block;
      &__icon {
        position: absolute;
        top: 7px;
        left: 9px;
      }
      input {
        padding: 0px 7px 0px 32px;
        width: 100%;
        height: 100%;
        background: rgb(244, 245, 247);
        border: 1px solid rgb(223, 225, 230);
        border-radius: 3px;
        &:focus {
          background-color: white;
          border-color: rgb(76, 154, 255);
          outline: none !important;
          box-shadow: rgb(76, 154, 255) 0px 0px 0px 1px;
        }
      }
    }
    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      vertical-align: middle;
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
      font-size: 14.5px;
      color: rgb(66, 82, 110);
      padding: 0px 12px;
      border-radius: 3px;
      transition: all 0.1s ease 0s;
      background: rgb(255, 255, 255);
      border: none;
      margin-left: 6px;

      &:hover {
        background-color: rgb(235, 236, 240);
      }
      &:focus {
        outline: none;
      }
      &:active {
        color: rgb(0, 82, 204);
        background: rgb(210, 229, 254);
      }
    }
    &__profiles {
      display: flex;
      // flex-direction: row-reverse;
      margin: 0px 12px 0px 20px;
      &__profile {
        border-radius: 50%;
        cursor: pointer;
        user-select: none;
        margin-left: -2px;
        transition: transform 0.3s;
        &:hover {
          transform: translateY(-5px);
        }
        &__img1 {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-image: url(https://i.ibb.co/6RJ5hq6/gaben.jpg);
          background-size: cover;
          background-color: rgb(235, 236, 240);
          border-radius: 100%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          border: 1px solid black;
          box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
        }
        &__img2 {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-image: url(https://i.ibb.co/6n0hLML/baby-yoda.jpg);
          background-size: cover;
          background-color: rgb(235, 236, 240);
          border-radius: 100%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
        }
        &__img3 {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-image: url(https://i.ibb.co/7JM1P2r/picke-rick.jpg);
          background-size: cover;
          background-color: rgb(235, 236, 240);
          border-radius: 100%;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
        }
      }
    }
  }
}
